[Unit]
Description=HADiscover

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill hadiscover
ExecStartPre=-/usr/bin/docker rm hadiscover
ExecStartPre=/usr/bin/docker pull jphastings/hadiscover
ExecStart=/usr/bin/docker run --name hadiscover -p 80:80 -e HADISCOVER_ETCD=http://${COREOS_PRIVATE_IPV4}:4001 jphastings/hadiscover

# Stop
ExecStop=/usr/bin/docker stop hadiscover

[X-Fleet]
X-Conflicts=hadiscover.*.service